.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #444444;
}

.container h2 {
  margin-top: 2px;
  margin-bottom: 1px;
}

.container p {
  margin-bottom: 3px;
}

.container button {
  margin-top: 10px;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  transition: background-color 0.3s;
}

.container button:hover {
  background-color: #ddd;
}

.container .airdrop-button {
  margin-bottom: 20px;
}

.container .staking-input {
  margin-bottom: 10px;
}

.container .contract-info {
  margin-bottom: 10px;
}

.container .patika-app {
  margin-top: -20px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 12px;
}

.daily-return {
  font-style: italic;
}

.container input {
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 130px;
  border: none;
  outline: none;
}


.container .stake-button {
  margin-top: 20px;
}

.container .withdraw-button {
  width: 200px;
}

.container .airdrop-button {
  width: 200px;
}
